In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv("familyxx.csv")

## Demographics

In [4]:
df_demog = pd.read_sas('DEMO_I.XPT')

In [5]:
df_demog.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,83732.0,9.0,2.0,1.0,62.0,NaN,3.0,3.0,1.0,NaN,...,5.0,1.0,3.0,134671.370419,135629.507405,1.0,125.0,10.0,10.0,4.39
1,83733.0,9.0,2.0,1.0,53.0,NaN,3.0,3.0,1.0,NaN,...,3.0,3.0,NaN,24328.560239,25282.425927,1.0,125.0,4.0,4.0,1.32
2,83734.0,9.0,2.0,1.0,78.0,NaN,3.0,3.0,2.0,NaN,...,3.0,1.0,3.0,12400.008522,12575.838818,1.0,131.0,5.0,5.0,1.51
3,83735.0,9.0,2.0,2.0,56.0,NaN,3.0,3.0,2.0,NaN,...,5.0,6.0,NaN,102717.995647,102078.634508,1.0,131.0,10.0,10.0,5.00
4,83736.0,9.0,2.0,2.0,42.0,NaN,4.0,4.0,2.0,NaN,...,4.0,3.0,NaN,17627.674984,18234.736219,2.0,126.0,7.0,7.0,1.23

In [53]:
df_demog.shape

(9971, 47)

In [75]:
df_demog_vars = df_demog[['SEQN', 'RIAGENDR', 'RIDAGEYR', 'DMDEDUC2', 'DMDHHSIZ', 'DMDFMSIZ', 'INDFMPIR']]

In [76]:
df_demog_vars.shape

(9971, 7)

In [79]:
df_demog_vars.isnull().sum()

SEQN           0
RIAGENDR       0
RIDAGEYR       0
DMDEDUC2    4252
DMDHHSIZ       0
DMDFMSIZ       0
INDFMPIR    1052
dtype: int64

## Medical

In [80]:
df_med = pd.read_sas('MCQ_I.XPT')

In [81]:
df_med.shape

(9575, 90)

In [105]:
df_med_vars = df_med[['SEQN', 'MCQ010', 'MCQ025', 'MCQ035', 'MCQ080', 'MCQ300B']]

In [106]:
df_med_vars.shape

(9575, 6)

In [107]:
df_med_vars.isnull().sum()

SEQN          0
MCQ010        0
MCQ025     8132
MCQ035     8132
MCQ080     3248
MCQ300B    1209
dtype: int64

In [111]:
df_med_vars[(df_med_vars['MCQ025']>=1) & (df_med_vars['MCQ025']<=13) & (df_med_vars['MCQ035']==2)]
# df_med_vars['MCQ025'].between(1,10).count()

         SEQN  MCQ010  MCQ025  MCQ035  MCQ080  MCQ300B
4     83736.0     1.0    10.0     2.0     2.0      2.0
15    83747.0     1.0    13.0     2.0     1.0      9.0
18    83750.0     1.0     1.0     2.0     2.0      2.0
20    83752.0     1.0    10.0     2.0     2.0      2.0
24    83756.0     1.0     2.0     2.0     2.0      1.0
33    83766.0     1.0     1.0     2.0     NaN      2.0
41    83774.0     1.0     4.0     2.0     NaN      2.0
50    83784.0     1.0     2.0     2.0     2.0      1.0
81    83816.0     1.0     3.0     2.0     2.0      2.0
86    83821.0     1.0     8.0     2.0     2.0      1.0
94    83829.0     1.0    10.0     2.0     2.0      1.0
125   83863.0     1.0     4.0     2.0     2.0      2.0
189   83927.0     1.0     8.0     2.0     2.0      2.0
191   83929.0     1.0     3.0     2.0     NaN      1.0
214   83954.0     1.0     1.0     2.0     2.0      1.0
237   83979.0     1.0     5.0     2.0     NaN      2.0
238   83980.0     1.0     2.0     2.0     NaN      2.0
240   83982.0     1.0     6.0     2.0     2.0      1.0
256   83998.0     1.0     7.0     2.0     1.0      2.0
270   84012.0     1.0     3.0     2.0     2.0      2.0
312   84056.0     1.0     2.0     2.0     NaN      1.0
314   84058.0     1.0     8.0     2.0     2.0      2.0
315   84059.0     1.0     1.0     2.0     NaN      NaN
417   84166.0     1.0     8.0     2.0     2.0      1.0
476   84226.0     1.0     4.0     2.0     2.0      1.0
512   84269.0     1.0     4.0     2.0     2.0      1.0
521   84278.0     1.0    10.0     2.0     NaN      2.0
529   84286.0     1.0     4.0     2.0     NaN      1.0
552   84310.0     1.0     1.0     2.0     NaN      2.0
566   84325.0     1.0    12.0     2.0     2.0      2.0
...       ...     ...     ...     ...     ...      ...
8905  93012.0     1.0     1.0     2.0     2.0      2.0
8912  93019.0     1.0     2.0     2.0     NaN      1.0
8926  93033.0     1.0     7.0     2.0     NaN      2.0
8937  93044.0     1.0     3.0     2.0     2.0      1.0
8940  93047.0     1.0     8.0     2.0     1.0      1.0
9012  93121.0     1.0     5.0     2.0     2.0      1.0
9013  93122.0     1.0     4.0     2.0     1.0      2.0
9061  93171.0     1.0    10.0     2.0     2.0      2.0
9068  93178.0     1.0    10.0     2.0     2.0      2.0
9070  93180.0     1.0    10.0     2.0     1.0      2.0
9082  93193.0     1.0     4.0     2.0     NaN      2.0
9091  93203.0     1.0     5.0     2.0     2.0      2.0
9132  93247.0     1.0    11.0     2.0     2.0      2.0
9201  93317.0     1.0     8.0     2.0     NaN      1.0
9222  93339.0     1.0     8.0     2.0     1.0      1.0
9230  93347.0     1.0    11.0     2.0     2.0      2.0
9237  93354.0     1.0     3.0     2.0     2.0      2.0
9269  93388.0     1.0     5.0     2.0     NaN      2.0
9273  93392.0     1.0     9.0     2.0     1.0      2.0
9292  93413.0     1.0    11.0     2.0     1.0      1.0
9353  93477.0     1.0     3.0     2.0     NaN      NaN
9454  93581.0     1.0    11.0     2.0     2.0      2.0
9458  93585.0     1.0    10.0     2.0     2.0      2.0
9461  93588.0     1.0    10.0     2.0     NaN      2.0
9478  93605.0     1.0     5.0     2.0     NaN      2.0
9498  93625.0     1.0     6.0     2.0     2.0      2.0
9518  93646.0     1.0     9.0     2.0     1.0      1.0
9529  93657.0     1.0     2.0     2.0     NaN      2.0
9543  93671.0     1.0     6.0     2.0     1.0      1.0
9551  93679.0     1.0     3.0     2.0     2.0      2.0

[426 rows x 6 columns]

## Dietary

In [60]:
df_diet = pd.read_sas('DR1TOT_I.XPT')

In [61]:
df_diet.head()

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,DRD370QQ,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V
0,83732.0,92670.699919,6.994593e+04,1.0,71.0,2.0,2.0,-1.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
1,83733.0,16454.105994,1.319027e+04,1.0,61.0,2.0,2.0,17.0,7.0,1.0,...,NaN,2.0,NaN,2.0,NaN,1.0,4.0,2.0,NaN,2.0
2,83734.0,6529.619788,4.928422e+03,1.0,14.0,2.0,2.0,6.0,7.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,1.0,1.0,2.0
3,83735.0,58191.539622,5.397605e-79,1.0,22.0,2.0,1.0,15.0,6.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
4,83736.0,12358.085471,9.813678e+03,1.0,73.0,2.0,2.0,2.0,7.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df_diet.shape

(9544, 168)

In [63]:
df_diet_vars = df_diet[['SEQN', 'DR1TTFAT', 'DR1TCHOL', 'DR1TATOC', 'DR1TVB1', 'DR1TVB2', 'DR1TVD', 'DR1TMAGN', 'DR1TCAFF', 'DR1TALCO']]

In [77]:
# df_diet_vars.describe()

In [66]:
df_diet_vars.isnull().sum()

SEQN           0
DR1TTFAT    1217
DR1TCHOL    1217
DR1TATOC    1217
DR1TVB1     1217
DR1TVB2     1217
DR1TVD      1217
DR1TMAGN    1217
DR1TCAFF    1217
DR1TALCO    1217
dtype: int64

In [67]:
# df_diet_vars.dropna(inplace=True)

In [70]:
# df_diet_vars.shape

In [71]:
# df_diet_vars.isnull().sum().sum()

In [68]:
mrg1 = pd.merge(df_demog, df_diet_vars, how='inner', on='SEQN')

In [72]:
mrg1.shape

(9544, 56)

In [73]:
mrg1.dropna(inplace=True)

In [74]:
mrg1.shape

(0, 56)